.cart-items {
    margin: 100px 130px;
}

.cart-items hr {
    height: 2px;
    background: #e2e2e2;
    border: 0;
}

.cart-items-format-main {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 50px;
    padding: 15px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}

.cart-items-format {
    font-size: 15px;
    font-weight: 500;
}

.cart-items-product-img {
    height: 65px;
}

.cart-items-remove-icon {
    width: 12px;
    margin: 0px 25px;
    cursor: pointer;
}

.cart-items-quantity {
    border: 2px solid #ebebeb;
    width: 50px;
    height: 40px;
    background-color: #fff;
}

.cart-items-bottom {
    display: flex;
    margin: 100px 0px;
}

.cart-items-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}

.cart-items-total button {
    width: 220px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: #ff5a5a;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 25px;
}

.cart-items-total button:hover {
    background-color: #ee4c4c;
}

.cart-items-total button:active {
    background-color: #ff5a5a;
}

.cart-items-promocode {
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}

.cart-items-promocode p {
    color: #555;
}

.cart-items-promobox {
    width: 484px;
    margin-top: 12px;
    padding-left: 20px;
    height: 50px;
    background-color: #eaeaea;
}

.cart-items-promobox input {
    border: none;
    outline: none;
    background-color: transparent;
    font-style: 330px;
    width: 330px;
    height: 35px;
}

.cart-items-promobox button {
    width: 150px;
    height: 50px;
    font-size: 16px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.cart-items-total-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.hr-style {
    margin-bottom: 25px;
}

@media(max-width: 1280px) {
    .cart-items {
        margin: 80px 80px;
    }

    .cart-items-format-main {
        grid-template-columns: 0.5fr 2.5fr 1fr 1fr 1fr 1fr;
        gap: 40px;
        padding: 12px 0px;
        font-size: 16px;
    }

    .cart-items-format {
        font-size: 14px;
        font-weight: 500;
    }

    .cart-items-product-img {
        height: 62px;
    }

    .cart-items-remove-icon {
        width: 10px;
        margin: 0px 22px;
    }

    .cart-items-quantity {
        width: 45px;
        height: 38px;
    }

    .cart-items-bottom {
        margin: 70px 0px;
    }

    .cart-items-total {
        margin-right: 100px;
        gap: 30px;
    }

    .cart-items-total button {
        width: 200px;
        height: 36px;
        font-size: 13px;
        margin-top: 22px;
    }

    .cart-items-promocode {
        font-size: 16px;
    }

    .cart-items-promocode p {
        font-size: 14px;
    }

    .cart-items-promobox {
        width: 460px;
        margin-top: 10px;
        padding-left: 16px;
        height: 45px;
    }

    .cart-items-promobox input {
        font-size: 14px;
        width: 316px;
        height: 35px;
    }

    .cart-items-promobox button {
        width: 140px;
        height: 45px;
        font-size: 14px;
    }

    .cart-items-total-item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    .hr-style {
        margin-bottom: 25px;
    }
}

@media(max-width: 1024px) {
    .cart-items {
        margin: 70px 60px;
    }

    .cart-items-format-main {
        grid-template-columns: 0.5fr 3fr 1fr 1fr 1fr 1fr;
        gap: 35px;
        padding: 10px 0px;
        font-size: 15px;
    }

    .cart-items-format {
        font-size: 13px;
    }

    .cart-items-product-img {
        height: 60px;
    }

    .cart-items-remove-icon {
        width: 10px;
        margin: 0px 20px;
    }

    .cart-items-quantity {
        width: 40px;
        height: 36px;
    }

    .cart-items-bottom {
        margin: 50px 0px;
        flex-direction: column;
    }

    .cart-items-total {
        width: 60%;
        gap: 30px;
    }

    .cart-items-total-item p {
        font-size: 14px;
    }

    .cart-items-total-item h4 {
        font-size: 15px;
    }

    .cart-items-total h2 {
        font-size: 20px;
    }

    .cart-items-total button {
        width: 180px;
        height: 34px;
        font-size: 12px;
        margin-top: 16px;
    }

    .cart-items-promocode {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .cart-items-promocode p {
        font-size: 14px;
    }

    .cart-items-promobox {
        width: 60%;
        margin-top: 10px;
        padding-left: 12px;
        height: 45px;
    }

    .cart-items-promobox input {
        width: 69%;
        font-size: 14px;
        height: 35px;
    }

    .cart-items-promobox button {
        width: 30%;
        font-size: 14px;
        height: 45px;
    }

    .cart-items-total-item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2px;
    }

    .hr-style {
        margin-bottom: 25px;
    }
}

@media(max-width: 800px) {
    .cart-items {
        margin: 70px 14px;
    }

    .cart-items-format-main {
        grid-template-columns: 0.5fr 3fr 1fr 1fr 1fr 1fr;
        gap: 15px;
        padding: 10px 0px;
        font-size: 12px;
    }

    .cart-items-format {
        font-size: 12px;
    }

    .cart-items-product-img {
        height: 50px;
    }

    .cart-items-remove-icon {
        width: 8px;
        margin: 0px 13px;
    }

    .cart-items-quantity {
        width: 34px;
        height: 34px;
    }

    .cart-items-bottom {
        margin: 40px 0px;
        flex-direction: column;
    }

    .cart-items-total {
        width: 70%;
        gap: 20px;
    }

    .cart-items-total h2 {
        font-size: 18px;
    }

    .cart-items-total-item p {
        font-size: 13px;
    }

    .cart-items-total-item h4 {
        font-size: 14px;
    }


    .cart-items-total button {
        width: 160px;
        height: 32px;
        font-size: 11px;
        margin-top: 12px;
    }

    .cart-items-promocode {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .cart-items-promocode p {
        font-size: 14px;
    }

    .cart-items-promobox {
        width: 70%;
        margin-top: 10px;
        padding-left: 12px;
        height: 40px;
    }

    .cart-items-promobox input {
        width: 68.7%;
        font-size: 14px;
        height: 33px;
    }

    .cart-items-promobox button {
        width: 30%;
        font-size: 14px;
        height: 40px;
    }

    .cart-items-total-item {
        margin-bottom: 2px;
    }

    .hr-style {
        margin-bottom: 18px;
    }
}

@media(max-width: 500px) {
    .cart-items {
        margin: 70px 10px;
    }

    .cart-items-format-main {
        display: none;
    }

    .cart-items-format-main-hr {
        display: none;
    }

    .cart-items-format {
        display: grid;
        grid-template-columns: 0.5fr 3fr .5fr;
        gap: 14px;
        padding: 10px 0px;
        font-size: 13px;
        margin-bottom: 14px;
    }

    .cart-items-product-img {
        height: 60px;
    }

    .cart-items-remove-icon {
        width: 12px;
        margin: 0px 13px;
    }

    .cart-items-quantity {
        width: 34px;
        height: 34px;
    }

    .cart-items-bottom {
        margin: 40px 0px;
        flex-direction: column;
    }

    .cart-items-total {
        width: 70%;
        gap: 20px;
    }

    .cart-items-total h2 {
        font-size: 16px;
    }

    .cart-items-total-item p {
        font-size: 13px;
    }

    .cart-items-total-item h4 {
        font-size: 13px;
    }


    .cart-items-total button {
        width: 140px;
        height: 30px;
        font-size: 10px;
        margin-top: 14px;
    }

    .cart-items-promocode {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .cart-items-promocode p {
        font-size: 12px;
    }

    .cart-items-promobox {
        width: 70%;
        margin-top: 6px;
        padding-left: 8px;
        height: 38px;
    }

    .cart-items-promobox input {
        width: 68.3%;
        font-size: 13px;
        height: 32px;
    }

    .cart-items-promobox button {
        width: 30%;
        font-size: 13px;
        height: 38px;
    }

    .cart-items-total-item {
        margin-bottom: 3px;
    }

    .hr-style {
        margin-bottom: 16px;
    }
}