.newslater {
    width: 65%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
}

.newslater h1 {
    color: #454545;
    font-size: 55px;
    font-weight: 600;
}

.newslater p {
    color: #454545;
    font-size: 20px;
    margin-bottom: 20px;
}

.newslater div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 730px;
    height: 50px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
}

.newslater input {
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-size: 16px;
}

.newslater button {
    width: 200px;
    height: 100%;
    border-radius: 80px;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.newslater button:hover {
    background-color: rgb(54, 54, 54);
}

.newslater button:active {
    background-color: black;
}

@media(max-width: 1280px) {
    .newslater {
        padding: 0px 100px;
        margin-bottom: 120px;
    }
    .newslater h1 {
        font-size: 46px;
        line-height: 60px;
    }
    .newslater p {
        font-size: 17px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .newslater div {
        width: 500px;
        height: 45px;
    }
    .newslater input {
        width: 350px;
        margin-left: 25px;
        font-size: 14px;
    }
    .newslater button {
        width: 150px;
        font-size: 14px;
    }
}

@media(max-width: 1024px) {
    .newslater {
        padding: 0px 80px;
        margin-bottom: 100px;
    }
    .newslater h1 {
        font-size: 35px;
        line-height: 50px;
    }
    .newslater p {
        font-size: 17px;
        margin-top: 10px;
        margin-bottom: 16px;
    }
    .newslater div {
        width: 450px;
        height: 45px;
    }
    .newslater input {
        width: 320px;
        margin-left: 20px;
        font-size: 13px;
    }
    .newslater button {
        width: 130px;
        font-size: 13px;
    }
}

@media(max-width: 800px) {
    .newslater {
        padding: 0px 60px;
        margin-bottom: 80px;
    }
    .newslater h1 {
        font-size: 23px;
        line-height: 30px;
    }
    .newslater p {
        font-size: 13px;
        margin-top: 8px;
        margin-bottom: 14px;
    }
    .newslater div {
        width: 350px;
        height: 45px;
    }
    .newslater input {
        width: 250px;
        margin-left: 20px;
        font-size: 12px;
    }
    .newslater button {
        width: 100px;
        font-size: 12px;
    }
}

@media(max-width: 500px) {
    .newslater {
        padding: 0px 40px;
        margin-bottom: 60px;
    }
    .newslater h1 {
        font-size: 16px;
        line-height: 20px;
    }
    .newslater p {
        font-size: 9px;
        margin-top: 5px;
        margin-bottom: 8px;
    }
    .newslater div {
        width: 240px;
        height: 30px;
    }
    .newslater input {
        width: 160px;
        margin-left: 10px;
        font-size: 10px;
    }
    .newslater button {
        width: 80px;
        font-size: 10px;
    }
}